{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": { "browser": true, "amd": true, "es6": true, "commonjs": true,},
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
