$header_height: 90px;
.header{

    position: relative;
  	width: 100%;
  	top: 0;
  	left: 0;
  	height: $header_height;
    padding-left: $horizon_padding;
    padding-right: $horizon_padding;
  	box-sizing: border-box;
  	background-color: #202020;

  	h1 {
      color: white;
      font-size: 1.5rem;
  	}

  	nav {
  		height: 100%;
  	}

    a {
      display: block;
      text-align: center;
      padding-left:#{$header_item_width/2}px;
      padding-right:#{$header_item_width/2}px;
      transition: all 0.5s;
      height: 100%;
    }

  	&__visible-list {
  		display: flex;
  		align-items: center;
  		overflow: hidden;
  		white-space: nowrap;
  	}

  	&__visible-link{
  		display: inline-block;
      height: 100%;
      line-height: $header_height;
      color: grey;
      &:hover {
        color: white;
      }
      &:nth-child(1){
        color: white;
      }
  	}

    &__icon-more{
      background: url(../../images/vertical_arrow.png) no-repeat top left;
      display: inline-block;
      height: 17px;
      width: 50px;
      margin-left: 5px;
      transition: all .5s;
    }

    &__more{
      display: inline-block;
      &:hover ul{
        display: inline-block;
      }
      &:hover .header__icon-more{
        display: inline-block;
        transform: rotateX(180deg);
      }
    }

    &__collapse-list{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 3;
      margin-top: -25px;
      background: #303030;
      color: grey;
      li{
        display: block;
      }
      a{
        padding: 5px 25px;
        line-height: normal;
        text-align: left;
        &:hover{
          color: white;
        }
      }
    }

    &__login-button{
      position: absolute;
      top: 0;
      right: $horizon_padding;
      min-width: 110px;
      height: 100%;
      border: 1px solid #333;
      border-top: 0;
      border-bottom: 0;
      background: #1a1a1a;
      box-sizing: border-box;
      a{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        line-height: $header_height;
        font-size: 16px;
        color: grey;
        background-color: #202020;
      }
    }

}
