.headline {
  padding-left: $horizon_padding;
  padding-right: $horizon_padding;
  padding-top: 30px;
  &__digest {
    position: relative;
    border: 1px solid #ebebeb;
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;

  }

  &__newsTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image-swiper {
    position: relative;
    display: flex;
    align-items: center;
    width: 65%;
    ul{
      display: flex;
      transition: all .5s;
    }
    li{
      float: left;
    }
    img{
      width: 45vw;
      height: 45vh;
    }
    button{
      position: absolute;
      width: 64px;
      height: 64px;
      opacity: .5;
      cursor: pointer;
      transition: opacity .5s;
      z-index:2;
      border: none;
      &:hover{
        opacity: .8;
      }
    }
  }

  &__swiper-previous{
    left: 0px;
    background: url(../../images/horizon_arrow.png);
    transform: rotateY(180deg);
  }

  &__swiper-next{
    right: 0px;
    background: url(../../images/horizon_arrow.png);
  }

  &__digestContent{
    z-index: 2;
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:50px 30px;
    box-sizing: border-box;
    h2{
      font-size: 2.5rem;
      line-height: 1.2em;
      max-height: 3.6em;
      overflow: hidden;
    }
    span:nth-child(2){
      color: grey;
    }
  }

  &__otherCategories{
    width: 69%;
  }

  &__sub-category{
    float: left;
  }

  &__minorContent{
    width:100%;
    display: flex;

  }

  &__hotNews{
    width: 31%;
  }

  &__bulletControllers{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10px;
    span{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      border: 1px solid #fff;
      background-color: transparent;
      cursor: pointer;
      margin-left: 10px;
    }
    .activeBullet{
      background: white;
    }
  }

  &__subCategoryContents{
    li{
      display: inline-block;
      width: 46%;
      padding: 10px 20px 0 0;
      a{
        display: flex;
        width:100%;
        *{
          margin-bottom: 10px;
        }
      }

      div{
        max-height: 4em;
        overflow: hidden;
      }
    }

  }

  &__verticalNews{
    a{
      flex-direction: column;
    }

    img{
      width: 100%;
      height: 185px;
    }
  }

  &__horizonNews{
    a{
      align-items: center;
    }
    img{
      margin-right: 10px;
      width: 140px;
      height: 96px;
    }
  }

  &__slideController{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 30px;
    height: 20px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 70%);
  }


}
