.headline {

  @include container_initial_settings;

  &__digest {
    position: relative;
    border: 1px solid #ebebeb;
    overflow: hidden;
    @include flex_row;
    margin-bottom: 50px;
  }

  &__newsTitle{
    @include flex_column;
    justify-content: center;
  }

  &__image-swiper {
    position: relative;
    @include flex_row;
    align-items: center;
    width: 65%;
    @include phone{
      width: 100%;
    }
    ul{
      @include flex_row;
      transition: all .5s;
    }
    li{
      float: left;
    }
    img{
      width: $pc_image_width;
      height: 45vh;
      @include phone{
        width: $phone_image_width;
      }
    }
    button{
      position: absolute;
      width: 64px;
      height: 64px;
      opacity: .5;
      cursor: pointer;
      transition: opacity .5s;
      z-index:2;
      border: none;
      &:hover{
        opacity: .8;
      }
    }
  }

  &__swiper-previous{
    left: 0px;
    background: url(../../images/horizon_arrow.png);
    transform: rotateY(180deg);
  }

  &__swiper-next{
    right: 0px;
    background: url(../../images/horizon_arrow.png);
  }

  &__digestContent{
    z-index: 2;
    position: absolute;
    right: 0px;
    width: 35%;
    height: 100%;
    background: white;
    @include flex_column;
    justify-content: space-around;
    padding:50px 30px;
    box-sizing: border-box;

    @include phone {
      width: 100%;
      height: 10%;
      bottom: 10px;
      background: rgba(0, 0 ,0, 0);
      color: white;
    }

    h2{
      @include phone{
        font-size: 1.2rem;
      }
      @include tablet{
        font-size: 1.5rem;
      }
      font-size: 2.5rem;
      line-height: 1.2em;
      max-height: 3.6em;
      font-weight: bold;
    }
    span{
      @include phone{
        display: none;
      }
      &:nth-child(2){
        color: grey;
      }
    }

  }

  &__otherCategories{
    width: 69%;
    @include phone {
      width: 90%;
    }
  }

  &__sub-category{
    float: left;
  }

  &__minorContent{
    width:100%;
    @include flex_row;
    justify-content: center;
  }

  &__hotNews{
    width: 31%;
    @include phone{
      display: none;
    }
  }

  &__bulletControllers{
    position: absolute;
    bottom: 30px;
    width: 100%;
    @include flex_row;
    justify-content: center;
    height: 10px;
    @include phone{
      bottom: 15px;
    }
    span{
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      border: 1px solid #fff;
      background-color: transparent;
      cursor: pointer;
      margin-left: 10px;
    }
    .activeBullet{
      background: white;
    }
  }

  &__subCategoryContents{
    li{
      display: inline-block;
      width: 46%;
      padding: 10px 20px 0 0;
      @include phone {
        width: 100%;

      }
      @include tablet {
        width: 90%;
      }
      a{
        width:100%;
        *{
          margin-bottom: 10px;
        }
      }

      div{
        max-height: 6em;
        overflow: hidden;
      }
    }

  }

  &__verticalNews{

    img{
      width: 100%;
      height: 150px;
    }
  }

  &__horizonNews{
    a{
      align-items: center;
      @include flex_row;
    }
    img{
      margin-right: 10px;
      width: 60%;
      height: 96px;
      @include phone{
        width: 50%;
        height: 50%;
      }
    }
  }

  &__slideController{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 30px;
    height: 20px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 70%);
  }


}
