.hotnews{
  padding: 27px 31px 25px 30px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.mostViewCategory{
  position: relative;
  width: 100%;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  &__slider{
    overflow: hidden;
    ul{
      display: flex;
      transition: all .5s;
    }
    li{
      *{
        margin-bottom: 8px;
      }
    }
    img{
      width: 284px;
      height: 145px;
    }
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div:nth-child(2){
    position: relative;
  }

}
.categoryRanking{
  position: relative;
  ul{
    @include horizontal_list;
  }

  li{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    padding: 3px;
    a{
      color: grey;
    }
  }

  &__header{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__content{
    li{
      margin-bottom: 15px;
    }
    div{
      margin-bottom: 8px;
    }
  }

  .currentTab{
    a{
      color: black;
    }
    border-bottom: 2px solid black;
  }

}
