.hotnews{
  padding: 27px 31px 25px 30px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.mostViewCategory{
  position: relative;
  width: 100%;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  &__slider{
    overflow: hidden;
    ul{
      display: flex;
      transition: all .5s;
    }
    li{
      *{
        margin-bottom: 8px;
      }
    }
    img{
      width: 284px;
      height: 145px;
    }
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button{
    background: white url(../../images/small_arrow.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .nextNews{
    right: -40px;
  }

  .previousNews{
    right: -20px;
    transform: rotateY(180deg);
  }

}
.categoryRanking{
  position: relative;
  ul{
    display: flex;
    white-space: nowrap;
    transition: all .5s;
  }

  li{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    padding: 3px;
    a{
      color: grey;
    }
  }

  &__header{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__content{
    li{
      margin-bottom: 15px;
    }
    div{
      margin-bottom: 8px;
    }
  }

  .currentTab{
    a{
      color: black;
    }
    border-bottom: 2px solid black;
  }

  button{
    position: absolute;
    top: 0px;
    background: white url(../../images/small_arrow.png);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__slideController{
    position: absolute;
    top: 0px;
    right: 40px;
    width: 30px;
    height: 20px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 70%);
  }

  .nextCategory{
    right: -40px;
  }

  .previousCategory{
    right: -20px;
    transform: rotateY(180deg);
  }
}
