
body{
	background-color: #fff;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	overflow-x: hidden;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.hidden{
	position: absolute;
    visibility: hidden;
}

.newsTitle{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a{
	text-decoration: none;
	color: black;
}

h3{
	font-size: 1.5rem;
    line-height: 1.11;
}

.title{
	margin-top: 16px;
	margin-bottom: 16px;
    font-weight: 700;
    color: #202020;
    text-transform: uppercase;
}

.publisher{
	font-size: .5rem;
	color: grey;
}
