
body{
	background-color: #fff;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	overflow-x: hidden;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.hidden{
	position: absolute;
    visibility: hidden;
}

a{
	text-decoration: none;
	color: inherit;
}

h2{
	font-size: 1.8rem;
    line-height: 1.11;
    font-weight: bold;
}

h3{
	font-size: 1.5rem;
    line-height: 1.11;
}



button{
	display: inline-block;
    border: 1px solid #e8e8e8;
    vertical-align: top;
    outline:none;
}

.global{
	
	&__disable_links{
		pointer-events: none;
	}

	&__sliderController{
	    position: absolute;
	    top: 0px;
	    right: 40px;
	    width: 30px;
	    height: 20px;
	    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff 70%);
	    @include tablet{
	    	display: none;
	    }
		button{
			position: absolute;
		    top: 0px;
		    background: white url(../../images/small_arrow.png);
		    width: 20px;
		    height: 20px;
		    cursor: pointer;
		}
	}

	&__nextCategory{
		right: -40px;
	}

	&__previousCategory{
		right: -20px;
		transform: rotateY(180deg);
	}


	&__title{
		margin-top: 16px;
		margin-bottom: 16px;
	    font-weight: 700;
	    color: #202020;
	    text-transform: uppercase;
	}

	&__publisher{
		font-size: .5rem;
		color: grey;
	}
	&__subTitleContainer{
		position: relative;
		div:nth-child(2){
			right: 10%;
			top: 10px;
		}
	}

	&__subCategoryTitles{
		width: 90%;
		overflow: hidden;
		@include tablet{
			overflow-x: scroll;
		}
		position: relative;
		margin-bottom: 10px;

		ul{
			@include horizontal_list;
		}

		li{
			border-bottom: 1px solid #bbbbbb;
			font-size: 1.1rem;
			font-weight: bold;
			padding: 10px;
			cursor: pointer;
			text-align: center;
			&:hover{
				color: grey;
			}
		}
		.chosenSubCategory{
			color: #bbbbbb;
			border-bottom: 2px solid black;
		}
	}
}

