@import "utilities/variables";
@import "base/global";
@import "base/reset";

.header__container{

    width:100%;
    top:0;
    left:0;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
   	background-color: #202020;

	h1{
		display: inline;
		a{
			display: inline;
			img{
				max-height: 100%;
				float: left;
			}
		}


	}
	nav{
		height: 100%;
	}
	ul{
		display:flex;
		align-items: center;
		height: 100%;
	    overflow: hidden;
	    white-space: nowrap;

	}
	li{
		margin-left: #{$header_item_width}px;
  		display: inline-block;
	}
	a{

	    display: block;
	    color: grey;
	    text-align: center;
	    padding-left: 16px;
	    	    padding-right: 16px;

		text-decoration: none;
		transition: all .5s;
		&:hover{
			color: white;
		}
	}
}


.headline{
	&__container{

	}

}
